In [12]:
from pyspark.sql import SparkSession
from pyspark.sql import Row
import pandas as pd

Create a Spark session

In [9]:
session = SparkSession.builder.getOrCreate()

In [29]:
# Read dataset with columns name/header
header_df = session.read.option("header","true").csv("Kidney.csv")

In [31]:
header_df.columns

['age',
 'bp',
 'sg',
 'al',
 'su',
 'rbc',
 'pc',
 'pcc',
 'ba',
 'bgr',
 'bu',
 'sc',
 'sod',
 'pot',
 'hemo',
 'pcv',
 'wbcc',
 'rbcc',
 'htn',
 'dm',
 'cad',
 'appet',
 'pe',
 'ane',
 'class']

In [33]:
# Read dataset without column names/headers
without_header_df2 = session.read.csv("Kidney.csv")

In [34]:
without_header_df2.columns

['_c0',
 '_c1',
 '_c2',
 '_c3',
 '_c4',
 '_c5',
 '_c6',
 '_c7',
 '_c8',
 '_c9',
 '_c10',
 '_c11',
 '_c12',
 '_c13',
 '_c14',
 '_c15',
 '_c16',
 '_c17',
 '_c18',
 '_c19',
 '_c20',
 '_c21',
 '_c22',
 '_c23',
 '_c24']

In [35]:
# we are using header dataset
df = header_df

In [36]:
# shema structure
df.printSchema()

root
 |-- age: string (nullable = true)
 |-- bp: string (nullable = true)
 |-- sg: string (nullable = true)
 |-- al: string (nullable = true)
 |-- su: string (nullable = true)
 |-- rbc: string (nullable = true)
 |-- pc: string (nullable = true)
 |-- pcc: string (nullable = true)
 |-- ba: string (nullable = true)
 |-- bgr: string (nullable = true)
 |-- bu: string (nullable = true)
 |-- sc: string (nullable = true)
 |-- sod: string (nullable = true)
 |-- pot: string (nullable = true)
 |-- hemo: string (nullable = true)
 |-- pcv: string (nullable = true)
 |-- wbcc: string (nullable = true)
 |-- rbcc: string (nullable = true)
 |-- htn: string (nullable = true)
 |-- dm: string (nullable = true)
 |-- cad: string (nullable = true)
 |-- appet: string (nullable = true)
 |-- pe: string (nullable = true)
 |-- ane: string (nullable = true)
 |-- class: string (nullable = true)

In [38]:
# dataset summary
df.describe().show()

23/04/20 20:18:30 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+-----------------+-----------------+--------------------+------------------+-------------------+------+------+-------+-------+-----------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+----+----+----+-----+----+----+------+
|summary|              age|               bp|                  sg|                al|                 su|   rbc|    pc|    pcc|     ba|              bgr|                bu|                sc|               sod|              pot|              hemo|              pcv|              wbcc|              rbcc| htn|  dm| cad|appet|  pe| ane| class|
+-------+-----------------+-----------------+--------------------+------------------+-------------------+------+------+-------+-------+-----------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+----+----+----+-----+----+----+------+
|  count|              400|              400|                 400|               400|                400|   400|   400|    400|    400|              400|               400|               400|               400|              400|               400|              400|               400|               400| 400| 400| 400|  400| 400| 400|   400|
|   mean|51.48337595907928|76.46907216494846|  1.0174079320113256|1.0169491525423728|0.45014245014245013|  null|  null|   null|   null|148.0365168539326|57.425721784776904|3.0724543080939934|137.52875399361022|4.627243589743592|12.526436781609195|38.88449848024316| 8406.122448979591| 4.707434944237919|null|null|null| null|null|null|  null|
| stddev|17.16971408926224|13.68363749352527|0.005716616974376756|1.3526789127628445|  1.099191251885407|  null|  null|   null|   null|79.28171423511773|50.503005849222504| 5.741126066859789|10.408752051798777|3.193904176556695| 2.912586608826765|8.990104814740933|2944.4741904103385|1.0253232655721791|null|null|null| null|null|null|  null|
|    min|               11|              100|               1.005|                 0|                  0|     ?|     ?|      ?|      ?|              100|               1.5|               0.4|               104|              2.5|                10|               14|             10200|               2.1|   ?|   ?|   ?|    ?|   ?|   ?|   ckd|
|    max|                ?|                ?|                   ?|                 ?|                  ?|normal|normal|present|present|                ?|                 ?|                 ?|                 ?|                ?|                 ?|                ?|                 ?|                 ?| yes| yes| yes| poor| yes| yes|notckd|
+-------+-----------------+-----------------+--------------------+------------------+-------------------+------+------+-------+-------+-----------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+----+----+----+-----+----+----+------+